* {
    background: #06090f;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  margin: auto;
}   




.menu {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-bottom: 45px;
   
}

.menu h1 {
    color: #00a3ff;
    margin-left: 16px;
    
}

.menu ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
    align-items: center;
    margin-left: 280px;
}
.menu li a {
    text-decoration: none;      
    list-style: none;
    color: white;
    margin-right: 30px;
    
}
.menu:hover li a {
        cursor: default;
}
.busca {
    font-size: 27px;
    border-radius: 30px;
    color: white;
    background: #151b26;
    padding: 8px;
    margin-right: 9px;
}
.navegacao {
    display: flex;
    flex-direction: co;
    text-decoration: none;
    list-style: none;
    gap: 0px;
    margin: 0%;
    margin-right: auto;
}
.Catalogo {
    font-size: 20px;
    color: whitesmoke;
    background:#151b26;
    border-radius: 50%;
    padding: 2px;
}
.container-nav {
        margin-left: 40px;
        text-align: center;
        margin-bottom: 39px;
}
.container-nav h1 {
    color: white;
    font-weight: 300;
    margin-top: 130px;
}
.container-nav p {
    color: #7d7d7d;
}

.hero {
     display: grid;
}

.hero img {
    width: 100%;
    max-width: 800px;
    height: 500px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    color: #FFFF;
}

.hero p {
     color: #bfbfbf;
}