* {
    background: #06090f;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  margin: auto;
  text-align: center;
}   




.menu {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 29px;
    margin-bottom: 45px;
   
}

.menu h1 {
    color: #00a3ff;
    margin-left: 16px;
    
}

.menu ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 25px;
    align-items: center;
    margin-left: 280px;
}
.menu li a {
    text-decoration: none;      
    list-style: none;
    color: white;
    margin-right: 30px;
    
}
.menu:hover li a {
        cursor: default;
}
.busca {
    font-size: 30px;
    border-radius: 30px;
    color: white;
    background: #151b26;
    padding: 8px;
    margin-right: 9px;
}
.navegacao {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 23px;
    margin: 0%;
    margin-right: 40px;
}
.Catalogo {
    font-size: 20px;
    color: whitesmoke;
    background:#151b26;
    border-radius: 50%;
    padding: 20px;
}
.container-nav {
        margin-left: 40px;
}
.container-nav h1 {
    color: white;
    font-weight: 300;
    margin-top: 130px;
}
.container-nav p {
    color: #7d7d7d;
}

.hero {
    text-align: center; 
    
}