* {
    background: #06090f;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight
}   




.menu {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 29px; 
   
}

.menu h1 {
    color: #00a3ff;
    margin-left: 30px;
}

.menu ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 25px;
    align-items: center;
    margin-left: 340px;
}
.menu li a {
    text-decoration: none;      
    list-style: none;
    color: white;
    margin-right: 10px;
}
.menu:hover li a {
        cursor: default;
}
.busca {
    font-size: 30px;
    border-radius: 30px;
    color: white;
    background: #151b26;
    padding: 8px;
    margin-right: 9px;
}
.navegacao {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 23px;
    margin: 0%;
}
.Catalogo {
    font-size: 20px;
    color: whitesmoke;
    background:#151b26;
    border-radius: 50%;
    padding: 20px;
}

